In [1]:
from selenium import webdriver
# by is a class in selenium 
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time
import pandas as pd

In [2]:
driver=webdriver.Chrome()

The chromedriver version (119.0.6045.105) detected in PATH at C:\Users\user\data_prepration\chromedriver.exe might not be compatible with the detected chrome version (120.0.6099.130); currently, chromedriver 120.0.6099.109 is recommended for chrome 120.*, so it is advised to delete the driver in PATH and retry

In [3]:
path="https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW"
driver.get(path)

In [4]:
time.sleep(10)

In [5]:
t_body=driver.find_element(By.XPATH,'//*[@id="table"]/div/table[2]/tbody')

In [6]:
#for loading all data from table 
# data=[]

# for tr in t_body.find_elements(By.XPATH,'//tr'):
#     row=[ item.text for item in tr.find_elements(By.XPATH,'//td')]
#     data.append(row)
# print(data)

In [7]:
movie_names=[]
movie_LifetimeGross=[]

for i in range(2,202):
    names_xpath = f"//*[@id='table']/div/table[2]/tbody/tr[{str(i)}]/td[2]/a"
    title = driver.find_element(By.XPATH, names_xpath).text
    
    # XPath for lifetime gross
    gross_xpath = f"//*[@id='table']/div/table[2]/tbody/tr[{str(i)}]/td[3]"
    lifetime_gross = driver.find_element(By.XPATH, gross_xpath).text
    movie_names.append(title)
    movie_LifetimeGross.append(lifetime_gross)

In [8]:
len(movie_names)

200

In [9]:
len(movie_LifetimeGross)

200

In [11]:
data={
    'movie_title':movie_names
    ,'movie_Lifetime_Gross':movie_LifetimeGross
}

In [12]:
df=pd.DataFrame(data)

In [13]:
df

                                       movie_title movie_Lifetime_Gross
0                                           Avatar       $2,923,706,026
1                                Avengers: Endgame       $2,799,439,100
2                         Avatar: The Way of Water       $2,320,250,281
3                                          Titanic       $2,264,743,305
4       Star Wars: Episode VII - The Force Awakens       $2,071,310,218
..                                             ...                  ...
195                             The Little Mermaid         $569,626,289
196                             Kong: Skull Island         $568,652,812
197  Mission: Impossible - Dead Reckoning Part One         $567,535,383
198                                     The Smurfs         $563,749,323
199                                         Cars 2         $559,852,396

[200 rows x 2 columns]

In [14]:
df.to_csv("the top 200 movies with their lifetime collection and  release data.csv ")